[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
	branch = leaderboard-1.0
[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
	branch = leaderboard-1.0
[submodule "rai"]
	path = rai
	url = https://github.com/cognitive-robots/rai-leaderboard-starter-kit
	branch = neat
